@font-face
	font-family: 'Nexa Light'
	src: url('../fonts/Nexa Light.otf')

@font-face
	font-family: 'Nexa Bold'
	src: url('../fonts/Nexa Bold.otf')

* 
	font-family: 'Nexa Light', sans-serif
	box-sizing: border-box

body
	background: #1e1f1f

.row
	margin: 0

.hidden
	left: -120%

.active
	left: 0

.opened
	overflow: hidden

@import Header
@import Main
@import Footer
@import Medias