@font-face {
  font-family: 'Nexa Light';
  src: url("../fonts/Nexa Light.otf"); }

@font-face {
  font-family: 'Nexa Bold';
  src: url("../fonts/Nexa Bold.otf"); }

* {
  font-family: 'Nexa Light', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #111657; }

header #particles-js {
  position: absolute;
  height: 100vh;
  background: url("../images/Background.jpg");
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1; }

header .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  position: relative; }
  header .container-fluid .redes-main {
    z-index: 2;
    padding: 20px;
    position: absolute;
    right: 40px;
    top: 0; }
    header .container-fluid .redes-main a {
      padding: 10px;
      color: #fff;
      font-size: 25px; }
      header .container-fluid .redes-main a:hover i {
        -webkit-transform: scale(1.12);
        -ms-transform: scale(1.12);
        transform: scale(1.12); }
      header .container-fluid .redes-main a i {
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s; }
  header .container-fluid .textos {
    color: #fff;
    z-index: 3;
    text-align: center;
    vertical-align: center;
    display: inline;
    text-shadow: 0 0 80px #fff; }
    header .container-fluid .textos .title {
      font-family: 'Nexa Bold';
      font-size: 55px;
      width: auto;
      margin: 0;
      border-bottom: 1px solid #fff; }
      header .container-fluid .textos .title .dev {
        color: #17e70d;
        text-shadow: 0 0 20px #17e70d; }
    header .container-fluid .textos .subtitle {
      font-size: 25px;
      padding: 10px; }
  header .container-fluid .menu-nav {
    z-index: 3;
    position: relative;
    text-align: center;
    margin-top: 80px;
    width: 70%;
    text-shadow: 0 0 60px #fff; }
    header .container-fluid .menu-nav a {
      color: #fff;
      font-size: 22px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      border-bottom: 1px solid transparent; }
      header .container-fluid .menu-nav a:hover {
        text-decoration: none;
        border-bottom: 1px solid #fff; }
  header .container-fluid .more {
    z-index: 3;
    font-size: 40px;
    position: absolute;
    bottom: 20px; }
    header .container-fluid .more a {
      color: #fff; }

main {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#111657), to(#196682));
  background: -webkit-linear-gradient(top, #111657, #196682);
  background: -o-linear-gradient(top, #111657, #196682);
  background: linear-gradient(180deg, #111657, #196682); }
  main .nav-main {
    background: rgba(48, 47, 62, 0.95); }
    main .nav-main .menu {
      margin: 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    main .nav-main .dev {
      color: #17e70d;
      text-shadow: 0 0 20px #17e70d;
      font-size: 35px;
      padding: 0 80px; }
      main .nav-main .dev:hover {
        text-decoration: none; }
    main .nav-main a {
      color: #fff;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      border-bottom: 1px solid transparent; }
      main .nav-main a:hover {
        text-decoration: none;
        border-bottom: 1px solid #fff; }
  main .menu-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.2); }
  main .container-fluid .about {
    color: #fff;
    margin: 50px auto;
    max-width: 1200px; }
    main .container-fluid .about .row {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    main .container-fluid .about .title {
      font-family: 'Nexa Bold';
      text-align: center;
      font-size: 50px;
      border-bottom: 1px solid #5fdecb;
      margin-bottom: 50px; }
    main .container-fluid .about .text-about {
      font-size: 23px; }
  main .container-fluid .skills {
    color: #fff;
    margin: 50px auto;
    max-width: 1100px; }
    main .container-fluid .skills .row {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    main .container-fluid .skills .title {
      font-family: 'Nexa Bold';
      text-align: center;
      font-size: 50px;
      border-bottom: 1px solid #5fdecb;
      margin-bottom: 50px; }
    main .container-fluid .skills .web-dev {
      text-align: center; }
      main .container-fluid .skills .web-dev .subtitle {
        text-align: center;
        padding: 20px 10px; }
        main .container-fluid .skills .web-dev .subtitle i {
          padding: 20px; }
      main .container-fluid .skills .web-dev .skills-section {
        margin: 50px auto; }
        main .container-fluid .skills .web-dev .skills-section ul {
          list-style: none; }
          main .container-fluid .skills .web-dev .skills-section ul li {
            font-size: 18px; }
    main .container-fluid .skills .IA .subtitle {
      text-align: center; }
      main .container-fluid .skills .IA .subtitle i {
        padding: 20px; }
    main .container-fluid .skills .IA ul {
      list-style: none;
      text-align: center; }
      main .container-fluid .skills .IA ul li {
        font-size: 18px; }
    main .container-fluid .skills .idioma .subtitle {
      text-align: center; }
      main .container-fluid .skills .idioma .subtitle i {
        padding: 20px; }
    main .container-fluid .skills .idioma ul {
      list-style: none;
      text-align: center; }
      main .container-fluid .skills .idioma ul li {
        font-size: 18px; }
    main .container-fluid .skills .SW .subtitle {
      text-align: center; }
      main .container-fluid .skills .SW .subtitle i {
        padding: 20px; }
    main .container-fluid .skills .SW ul {
      list-style: none;
      text-align: center; }
      main .container-fluid .skills .SW ul li {
        font-size: 18px; }
